/* Container layout */
.container {
    display: flex;
    flex-direction: column;
    min-height: 85vh;
    padding: 20px;
    min-width: 100%;

    @media (min-width: 768px) {
        flex-direction: row;
        padding: 70px 50px 0px 50px;
    }
}

/* Sidebar */
.sidebar {
    background-color: #083644;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    margin: 0 auto 20px;
    border-radius: 15px;
    border: 2px solid #2c2c2c;
    /* justify-content: center; */
    align-items: center;
    display: flex;
    flex-direction: column;

    @media (max-width: 767px) {
        flex-direction: row;
        max-width: 100%;
        padding: 10px;
        gap: 15px;
    }

    @media (min-width: 768px) {
        margin: 0 50px 0 0;
    }
}

.profile-picture img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #f06c64;

    @media (max-width: 767px) {
        width: 100px;
        height: 100px;
    }
}

.name {
    margin-top: 20px;
    font-size: 40px;

    @media (max-width: 767px) {
        margin-top: 0;
        font-size: 24px;
    }
}

.designation, .accounts {
    margin: 5px 0;
    font-size: 20px;

    @media (max-width: 767px) {
        font-size: 16px;
        margin: 2px 0;
    }
}

/* Main Content */
.main-content {
    flex: 1;
    padding: 20px;
    background-color: #1c1c1c;
    border-radius: 15px; 
    border: 2px solid #2c2c2c;
    width: 100%;
}

/* Tabs */
.tabs {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 10px;
    border-bottom: 2px solid #2c2c2c;
    margin-bottom: 20px;
}

.tab-link {
    background-color: #1c1c1c;
    color: #fff;
    border: none;
    padding: 14px 0;  /* Remove horizontal padding for mobile */
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
    border-radius: 15px 15px 0 0;
    font-size: clamp(16px, 3vw, 24px);
    width: calc(50% - 5px);

    @media (min-width: 768px) {
        width: auto;
        padding: 14px 20px;  /* Add padding back for desktop */
    }
}

.tab-link:hover {
    background-color: #444;
}

.tab-link.active {
    background-color: #083644;
    border-bottom: 2px solid #f06c64;
}

/* Tab Content */
.tab-content > div {
    display: none;
}

.tab-content > .active {
    display: block;
}

.profile-image-section img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid #f06c64;
    object-fit: cover;

    @media (max-width: 767px) {
        width: 100px;
        height: 100px;
    }
}


.profile-details-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 767px) {
        align-items: flex-start;
    }
}